{% extends 'main/base.html' %}
{% block content %}
{% load static %}
		{% block heading %}
		<title>Open Pediatrics</title>
		<meta charset="UTF-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<link rel="profile" href="#">

		<!--Google Font-->
		<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
		<!-- Mobile specific meta -->
		<meta name=viewport content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone-no">

		<!-- CSS files -->
		<link rel="stylesheet" href="{% static 'css/plugins.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">

		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/plugins.js' %}"></script>
		<script src="{% static 'js/plugins2.js' %}"></script>
		<script src="{% static 'js/custom.js' %}"></script>
		{% endblock heading %}


<div class="hero user-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>{{profile.user.username}}’s profile</h1>
					<ul class="breadcumb">
						<li class="active"><a href="{% url 'movies' %}">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span>Profile</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="page-single">
	<div class="container">
		<div class="row ipad-width">

			{% include 'profiles/profileNavbar.html' %}

			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="form-style-1 user-pro" action="#">
					<form action="" method="post" class="user" enctype="multipart/form-data">
						{% csrf_token %}

						<h4>01. Profile details</h4>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Username</label>
								{{ProfileForm.username}}
							</div>
							<div class="col-md-6 form-it">
								<label>Email Address</label>
								{{ProfileForm.email}}
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>First Name</label>
								{{ProfileForm.first_name}}
							</div>
							<div class="col-md-6 form-it">
								<label>Last Name</label>
								{{ProfileForm.last_name}}
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Country</label>
								{{ProfileForm.country}}
							</div>
							<div class="col-md-6 form-it">
								<label>State</label>
								{{ProfileForm.state}}
							</div>
						</div>

						<div class="row">
							<div class="col-md-6 form-it">
								<label>Avatar</label>
								<img src="{{profile.image.url}}" height="50px" width="50px" alt="">
								<br>
								<br>
								{{ProfileForm.image}}
							</div>
							
						</div>

						<div class="row">
							<div class="col-md-2">
								<input class="submit" type="submit" value="save">
							</div>
						</div>	
					</form>

					<form action="{% url 'updatePassword' profile %}" class="password" method="post">
						{% csrf_token %}
						<h4>02. Change password</h4>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Old Password</label>
								<input type="password" name="oldPassword" placeholder="**********">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>New Password</label>
								<input type="password" name="newPassword" placeholder="***************">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Confirm New Password</label>
								<input type="password" name="newPassword2"  placeholder="*************** ">
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<input class="submit" type="submit" value="change">
							</div>
						</div>	
					</form>
				</div>
			</div>

		</div>
	</div>
</div>

{% block sc %}
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/plugins2.js"></script>
	<script src="js/custom.js"></script>
{% endblock sc %}

{% endblock content %}