<div class="col-md-3 col-sm-12 col-xs-12">
    <div class="user-information">
        <div class="user-img">
            <a href="#"><img src="{% if profile.image.url %} {{profile.image.url}}    {% endif %}  " alt=""><br></a>
        </div>
        <div class="user-fav">
            <p>Account Details</p>
            <ul>
                <li class="{% if 'myProfile' in request.path %} active {% endif %}"><a href="{% url 'myProfile' profile.user.username %}">Profile</a></li>
                <li class="{% if 'Favsplaylists' in request.path  %}active{% endif %}" ><a href="{% url 'playlists' profile.user.username %}">Favorite movies</a></li>
                <li class="{% if 'ratedMovies' in request.path  %}active{% endif %}"><a  href="{% url 'ratedMovies' profile.user.username %}">Rated movies</a></li>
            </ul>
        </div>
        <div class="user-fav">
            <p>Others</p>
            <ul>
                <li><a href="{% url 'logout' %}">Log out</a></li>
            </ul>
        </div>
    </div>
</div>



