<div class="col-md-3 col-sm-12 col-xs-12">
    <div class="user-information">
        <div class="user-img">
            <a href="#"><img src="{% if profile.image.url %} {{profile.image.url}}    {% endif %}  " alt=""><br></a>
            <a href="#" class="redbtn">Change avatar</a>
        </div>
        <div class="user-fav">
            <p>Account Details</p>
            <ul>
                <li class="{% if request.path == '/profiles/{{request.user.username}}/' %} active {% endif %}"><a href="{% url 'myProfile' user.profile.user.username %}">Profile</a></li>
                <li ><a href="{% url 'playlists' request.user.username %}">Favorite movies</a></li>
                <li><a href="userrate.html">Rated movies</a></li>
            </ul>
        </div>
        <div class="user-fav">
            <p>Others</p>
            <ul>
                <li><a href="#">Change password</a></li>
                <li><a href="#">Log out</a></li>
            </ul>
        </div>
    </div>
</div>

